#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.texto{
  background: linear-gradient(to right,#ffae00d4,#ff0000d4 );
  border-radius: 20px;
  padding: 20px;
}
.input-box{
  display:flex;
  flex-direction:column;
  padding: 20px;
  border-radius: 20px;
  
}
.input-box .field{
  padding: 20px;
  border-radius: 15px;
  border: none;
  margin: 15px 8rem;
  background: #0088ffaf;
  color: black;
}
.input-box .field::placeholder{
  color: #000;
  font-size: 15px;
  font-weight: bold;
}
.input-box .Ingreso-CC{
  margin: 5px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.Mostrar-Contraseña{
  margin: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.boton-ingresar button{
  margin: 10px 0px 11px 0px;
  padding: 11px;
}
